.testimonials-section {
  text-align: center;
}

.testimonials h1 {
  padding: 2rem 0;
  font-size: var(--testimonials-h1);
}

.testimonials h1 span {
  color: var(--purplish-blue);
}

.testimonials p {
  font-size: 1.5rem;
  text-wrap: wrap;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
}

.carousel-item img {
  width: 90%;
  margin: 0 auto;
  height: 433px;
  display: block;
  object-fit: fill;
}
