.product-headline-section {
  width: 100%;
  margin: 3rem 0;
  height: 960px;
  background-image: url("/assets/basketball-court-with-people-fan-sport-arena-render-3d-illustration 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.headline-container {
  padding-left: 7rem;
  text-wrap: wrap;
}

.headline {
  font-size: var(--headline-h1);
  color: var(--white);
}

.headline span {
  color: var(--purplish-blue);
}

.headline-container p {
  color: var(--white);
  font-size: var(--headline-paragraph);
}

p span {
  color: var(--purplish-blue);
}

/* .basketball-court-img {
  width: 100%;
  object-fit: contain;
} */
