:root {
  --white: #ffffff;
  --purplish-blue: #806eed;
  --black: #000000;
  --light-gray: #f2f2f2;
  --medium-light-gray: #a6a6a6;
  --lavander: #bcb2f5;
  --pale-lavander: #e9e6f7;
  --deep-blue: #2107ba;
  --dark-gray: #4b4a52;

  /* Fonts */

  /* Navbar */
  --logo: 1.75rem;
  --reserve-now-button: 1.75rem;

  /* Hero section */
  --hero-section-h1: 4rem;
  --hero-section-h2: 3rem;

  /* Content section  */
  --content-section-h1: 3.5rem;
  --content-section-strong: 1.5rem;
  --content-section-span: 2.5rem;

  /* Product headline section */
  --headline-h1: 4rem;
  --headline-paragraph: 2rem;

  /* Stats section */
  --stats-text-strong: 2rem;
  --stats-text-small: 1.2rem;
}
